{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile_details">
        <h2>Profile details</h2>
            {% if not user.profile_picture %}
            <img src='{% static 'images/account-6491185_1280.png' %}' alt="Profile"  class="profile_picture">
            {% else %}
                <img src='{{ user.profile_picture }}' alt="Profile" class="profile_picture">
            {% endif %}
            <p>First Name: {{ user.first_name }}</p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>Email Address: {{ user.email }}</p>
            <a href="{% url 'edit_profile' pk=user.id%}"><button type="submit">Edit profile</button></a>
            <a href="#"><button type="submit">Delete profile</button></a>
    </div>

 <div class="properties_details">
    <h2>Properties statistics</h2>
    <ul class="properties_list">
        {% for property_info in properties_info %}
            <li class="property_item">
                <img src="{% static 'maldives-g95b36ec92_1920.jpg' %}" alt="#" class="properties_picture">
                <h3> name: {{ property_info.name }}</h3>
                <p>location: {{ property_info.locations }}</p>
                <p>Guests: {{ property_info.guests }}</p>
                <p>Rent per day: {{ property_info.price }} lv.</p>
                <a href="#">See Property</a>
            </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}