{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile_details">
        <h2>Profile details</h2>
            {% if not user.profile_picture %}
            <img src='{% static 'images/account-6491185_1280.png' %}' alt="Profile"  class="profile_picture">
            {% else %}
            {% endif %}
            <p>First Name: {{ user.first_name }}</p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>Email Address: {{ user.email }}</p>
            <a href="{% url 'edit_profile' pk=user.id%}"><button type="submit">Edit profile</button></a>
            <a href="#"><button type="submit">Delete profile</button></a>
    </div>

    <div class="properties_details">
        <h2>Properties statistics</h2>

    </div>

{% endblock %}